
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #ffffff;
$grey-100: #eaeaea;
$grey-200: #d8d8d8;
$grey-300: #f3f3f3;
$grey-400: #979797;
$grey-500: #3f3c3c;
$grey-600: #252222;
$black: #000000;

$primary: #fbc60a;

$body-bg: $white;
$body-color: $black;
$dark-color: $white;